*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color:#ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.log{
    position:relative;
    font-size: 25px;
    color: #fff;
    text-decoration:none;
    font-weight:600;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color:#fff;
    text-decoration:none;
    font-weight: 500;
    margin-left: 35px;
    transition:  .3s;
}

.navbar a:hover{
    color:#0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height:100vh;
    background:url(Purple\Illustrated\Mountain\Destop\wallpaper.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding:70px 10px 0;
}

.home-content h3 {
    font-size: 32px;
    font-weight:700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}



/* ---services---
 */
#services{  
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span{
    color: #0ef;
}

.container{
    padding:90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.read{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation:slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

}

.read:hover{
    box-shadow:  0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover{
    transform: translateY(-10px);
}


@keyframes slideBottom{
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}